<a href="https://colab.research.google.com/github/siddhi1991/GeospatialProgramming_Sessions/blob/main/Session2_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA STRUCTURES**

In Python Data Structures, you will learn **how data is stored, organized, and manipulated** efficiently in memory . It is a fundamental and essential tool in GIS programming that helps you design algorithms that are both fast as well as memory-efficient.In this session, we will explore the fundamental Python data structures like **Lists, Tuples, Sets, and Dictionaries.**

**LEARNING OBJECTIVE**



*   Learn the features and uses of Python tuples, lists, sets and dictonaries.

*   Use these structures to store and work with geospatial data like   coordinates and attributes.

*   Understand the difference between mutable and immutable data structures.

*   Practice basic operations such as indexing, slicing, adding and updating data.

*   Use dictionaries to organize geospatial features with key-value pairs.

**QUESTION: What is the difference between a data type and a data structure??**

**BASIC PYTHON DATA STRUCTURES**

# **1. LIST**
Lists are *ordered and mutable collection* of elements. We can change, remove, add elements after the list has been created. Lists are very flexible and can *store multiple types of data*, making them useful for various geospatial tasks.

In [ ]:
fruits = ["Mango" , "Pineapple" , "Banana"]
print(fruits)

['Mango', 'Pineapple', 'Banana']

In [ ]:
fruits.append("Orange")
print(fruits)

['Mango', 'Pineapple', 'Banana', 'Orange']

In [ ]:
fruits.remove("Mango")
fruits

['Pineapple', 'Banana', 'Orange']

## **2. TUPLES**
Tuples are *ordered and immutable collection* of elements. We cannot change, remove, add elements after the list has been created. Tuples are useful for fixed collection of items.

In [ ]:
coordinates = [35.56 , 110.89]

In [ ]:
coordinates[1]

110.89

In [ ]:
latitude = coordinates[0]
longitude = coordinates[1]
print("The latitude is: ", latitude)
print("The longitude is: ", longitude)

The latitude is:  35.56
The longitude is:  110.89

### **Concept of Indexing and slicing**

In [ ]:
coord = [(10,20) , (15,25) , (20,30) , (25,35)]                 #Tuple (x,y) inside Tuple and List

**INDEXING**  : Starts at 0 and ends at (n-1) in Python. It allows you to **access one point** at a time.

In [ ]:
coord[2]

(20, 30)

In [ ]:
coord[-1]

(25, 35)

In [ ]:
coord[1][1]

25

**SLICING**  : Allows you to pick or select a **part of the list or range**.
list[start:end]     

**It will include start but exclude end.**

In [ ]:
coord[:2]
coord[0][:1]

(10,)

In [ ]:
coord[1:3]

[(15, 25), (20, 30)]

In [ ]:
coord[:]

[(10, 20), (15, 25), (20, 30), (25, 35)]

In [ ]:
coord[0:]

[(10, 20), (15, 25), (20, 30), (25, 35)]

In [ ]:
coord[2:]

[(20, 30), (25, 35)]

In [ ]:
coord[:2]

[(10, 20), (15, 25)]

## **3. SETS**
Sets are *unordered collection of unique* elements. Sets are useful when you need to **store a collection** of items but want to **eliminate duplicates**.

In [ ]:
fruits = ["Mango" , " Banana" , "Pineapple"]
fruits.append("Mango")
fruits

['Mango', ' Banana', 'Pineapple', 'Mango']

In [ ]:
fruits = ["Mango" , "Banana" , "Pineapple"]
fruits = set(fruits)
fruits

{'Banana', 'Mango', 'Pineapple'}

In [ ]:
fruits.add("Mango")
fruits

{'Banana', 'Mango', 'Pineapple'}

In [ ]:
fruits.add("Water Melon")
print("The updated list of fruits is: ", fruits)

The updated list of fruits is:  {'Banana', 'Mango', 'Water Melon', 'Pineapple'}

# **4. DICTONARIES**
Dictonaries are collections of **key-value pairs**, where **each key is unique**. Dictionaries are extremely useful for storing data that is associated with specific identifiers, such as attribute data for geographic features.

In [ ]:
city_attributes = {
    "name": "London",
    "population": 8908081,
    "coordinates": (51.5072, -0.1276),
}

In [ ]:
print(city_attributes)

{'name': 'London', 'population': 8908081, 'coordinates': (51.5072, -0.1276)}

In [ ]:
City_name = city_attributes["name"]
City_population = city_attributes["population"]
print("City is: ", City_name , " and Population is: " , City_population)

City is:  London  and Population is:  8908081

In [ ]:
city_attributes["area"] = "1572 sq km"
city_attributes

{'name': 'London',
 'population': 8908081,
 'coordinates': (51.5072, -0.1276),
 'area': '1572 sq km'}

# **EXERCISE**

1. Create a dictionary to store attributes of a mountain range (say Himalaya).
Include keys for range name, highest peak, and average elevation (m).
Then, add an additional key for the continent it belongs to and print the dictionary.

2. Create a list of tuples, each representing the coordinates (latitude, longitude) of different cities you have visited.

   

   

*   Calculate the centroid of these coordinates.
*   Create a dictionary to store the centroidâ€™s latitude and longitude.

In [ ]:
mountain_range = {"Range Name": "Himalaya" , "Highest Peak" : "Mt Everest" , "Average elevation": "6100 m"}
print(mountain_range)
mountain_range["Continent"] = "Asia"
print(mountain_range)

{'Range Name': 'Himalaya', 'Highest Peak': 'Mt Everest', 'Average elevation': '6100 m'}
{'Range Name': 'Himalaya', 'Highest Peak': 'Mt Everest', 'Average elevation': '6100 m', 'Continent': 'Asia'}

In [ ]:
#Lucknow = 26.8467 , 80.9462
#Banaras = 25.3176 , 82.9739
#Dehradun = 30.3165 , 78.0322
cities = [(26.8467, 80.9462) , (25.3176,82.9739) , (30.3165,78.0322)]
print(cities)

[(26.8467, 80.9462), (25.3176, 82.9739), (30.3165, 78.0322)]

In [ ]:
cities[0][0]
cities[1][0]
cities[2][0]

30.3165

In [ ]:
lat = cities[0][0] + cities[1][0] + cities [2][0] / 3
lon = cities[0][1] + cities[1][1] + cities [2][1] / 3
print(lat)
print(lon)

62.2698
189.93083333333334